:root{
    --prymary-color: #FF7833;
    --secondary-color: #31333B;
    --secondary-color-light: #444856;
}

html{
    font-size: 62.5%;
}

.img-perfil{
    max-width: 10rem;
    border-radius: 50%;
}

body{
    display: flex;
    margin: 0;
    color: #e7e7e7;
    background-color: #ccc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    line-height: 1.7;
}

h1{
    font-size: 4rem;
    color: #c7c7c7;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

h2, h3, h4, h5, h6{
    color: var(--prymary-color);
    margin: 0;
}

h2{
    margin-top: 1rem ;
}

.hightlight{
    border-left: 1px solid var(--prymary-color);
    font-size: 1.1em;
    padding-left: 2em;
    margin-bottom: 2.2em;
}

article{
    padding: 1em 0;
}

.main-header{
    flex: 0 0 26rem;
    background-color: var(--secondary-color);
}

.main{
    background-color: var(--secondary-color-light);
    flex: 1 0;
    padding: 6.5rem 6rem 7.5rem;
}

a{
    color: inherit;
}

.main, .main-header{
    font-size: 1.6rem;
}

.main-header-nav{
    text-align: right;
    padding: 6.5rem 2.4rem 2.4rem;
}

.main-header-nav ul{
    padding: 0;
    list-style-type: none;
}

.main-header-nav ul a{
    display: block;
    padding: 1.2rem 0;
    text-decoration: none;
    transition: padding-right .2s, background-color .4s;
    background-color: transparent;
}

.main-header-nav ul a:hover,
.main-header-nav ul a:focus{
    background-color: var(--secondary-color-light);
    padding-right: 1rem;
}

.li-header{
    border-bottom: 1px solid #7b7b7b;
    padding: .2rem 0;
}

.underline{
    text-decoration: underline wavy red;
}

.card{
    max-width: 1920px;
    background-color: var(--secondary-color);
    padding: 0;
}

.card_content{
    padding: .5em 1em 1em;
}

.card_content p, .card_title{
    margin: 0;
}

.card_title{
    font-size: 1.75em;
}